body {
    min-width: 320px;
    min-height: 320px;
    font-family: sans-serif;
    background-color: rgba(202, 202, 202, 0.329);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 0 5px;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    background-color: #171b20;
    min-height: 100px;
    height: 20vw;
    margin-bottom: 5px;
}
.mainIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainIcon>img{
    width: 100%;
}
.search{
    display: grid;
    grid-template-columns: 80% 18%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.search input{
    width: 100%;
    height: 60%;
    border-radius: 15px;
    text-align: center;
    border: none;
    font-size: 15px;
    background-color: #3d4349;
    color: white;
    font-weight: bold;
}
.search input:focus{
    color: black;
    background-color: #ffffff;
}
.searchPlace{
    border: none;
    background-color: transparent;
}
.search svg:hover{
    cursor: pointer;
}
.search svg:hover path{
    stroke: #9ab4d4;
}

.dropdownButton{
    height: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
}
.degrees img{
    width: 100%;
}
.degrees .degreeIcon{
    width: 100%;
}
.dropdownOptions {
    display: none;
}
.dropdownMenu{
    position: relative;
}
.dropdownButton.active{
    background-color: #0c0f11;
    border: 2px solid #101316;
}
.dropdownOptions.visible{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0c0f11;
    border-radius: 0 0 10px 10px;
}
.dropdownOptionButton{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #0c0f11;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}
.dropdownOptionButton:hover{
    background-color: #6f8299;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.navButton{
    width: 100%;
    background-color: transparent;
    border: none;
}
.navButton:hover{
    width: 100%;
    background-color: #0c0f11;
    border: 2px solid #101316;
    cursor: pointer;
}

main{
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "currentInfoSection currentInfoSection"
    "todayInfoSection todayInfoSection"
    "nextDaysInfoSection nextDaysInfoSection";
    gap: 10px;
}
.currentInfo{
    grid-area: currentInfoSection;
    background-image: url(./media/condition-backgrounds/partly-cloudy-day.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.currentInfoHeader{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.currentInfoData{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "currentTemp currentTemp"
    "currentTempFeels currentImportantInfo";
    gap: 5px;
}
.currentTemp{
    grid-area: currentTemp;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template: auto auto / 50% 50%;
    grid-template-areas: 
    "currentTempData currentConditionIcon"
    "currentConditionData currentConditionData";
    align-items: center;
}
.currentTempData{
    grid-area: currentTempData;
    font-size: 80px;
    text-shadow: 0 0 10px black;
    text-align: center;
}
img.currentConditionIcon{
    grid-area: currentConditionIcon;
    width: 100%;
}
.currentConditionData{
    grid-area: currentConditionData;
    font-size: 20px;
    text-shadow: 0 0 8px black, 0 0 10px black;
}
.currentTempFeels{
    grid-area: currentTempFeels;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.currentTempFeelsLabel{
    font-size: 18px;
    text-shadow: 0 0 5px black, 0 0 8px black, 0 0 10px black;
}
.currentTempFeelsData{
    font-size: 60px;
    text-shadow:  0 0 8px black, 0 0 10px black;
    text-align: center;
}
.currentImportantInfo{
    grid-area: currentImportantInfo;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.currentImportantInfo>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
}
.currentIcon{
    width: 60%;
    height: 80%;
    margin: auto;
}
.currentUVIndex>.currentIcon{
    width: 100%;
}


.todayInfo img{
    width: 50px;
}
.todayInfo{
    grid-area: todayInfoSection;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.todayInfo>.cityTodaysInfo>p{
    font-weight: bold;
    font-size: 16px;
}
.feelsLikeToday>p.label {
    font-size: 18px;
}
.feelsLikeToday>p.feelsTempToday {
    font-size: 40px;
    text-shadow: 0 0 5px rgba(3, 3, 3, 0.4);
}
.feelsMoonSunToday {
    display: grid;
    grid-template: 1fr auto / 1fr 1fr;
    border-radius: 10px;
    gap: 5px;
}
.feelsMoonSunToday>div {
    border-radius: 10px;
    background-color: rgba(207, 207, 207, 0.2);
    padding: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.feelsMoonSunToday .label {
    font-weight: bold;
    font-size: 12px;
}
.feelsMoonSunToday .data {
    font-size: 14px;
    text-shadow: 0 0 2px rgba(3, 3, 3, 0.4);
}
.moonToday {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
}
.moonToday>img {
    width: 75px;
    align-self: center;
}
.sunToday {
    grid-area: 2/2/3/3;
    text-align: center;
}
.sunLine {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.sunriseSunset {
    display: flex;
    justify-content: space-between;
}
.sunIconToday{
    clip-path: inset(20% 10% 20% 10%);
    margin-bottom: -15px;
}
.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border: 2px solid rgba(104, 103, 103, 0.2);
}
.sunIcon {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('./media/condition-icons/clear-day.svg') no-repeat center/cover;
    top: 55%;
    transform: translateY(-55%);
}
.highLowToday {
    display: flex;
    width: 100%;
    gap: 5px;
}
.highLowToday>div {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template: auto auto / auto 1fr;
    grid-template-areas: 
    "tempIconToday highlowTempLabel"
    "tempIconToday highlowTempData";
    gap: 5px;
    align-items: center;
}
.highLowToday .tempIconToday {
    grid-area: tempIconToday;
    height: 70%;
}
.highLowToday .label {
    grid-area: highlowTempLabel;
    font-weight: bold;
    font-size: 15px;
    align-self: flex-end;
}
.highLowToday .data {
    grid-area: highlowTempData;
    font-size: 25px;
    align-self: flex-start;
}
.highToday {
    width: 100%;
}
.lowToday {
    width: 100%;
}
.dayDataToday {
    padding: 10px;
    display:  flex;
    flex-direction: column;
    gap: 10px;
}
.dayDataToday img {
    height: 25px;
    width: 25px;
}
.dayDataToday>div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.dayDataToday .label {
    width: fit-content;
    text-wrap: nowrap;
    font-weight: bold;
    font-size: 15px;
}
.dayDataToday .data {
    width: 100%;
    font-size: 15px;
    text-align: right;
}
.dayDataToday .data>span {
    font-size: 16px;
}
.descriptionToday {
    padding: 10px;
    font-size: 15px;
}

.nextDaysInfo{
    grid-area: nextDaysInfoSection;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nextDaysTitle {
    font-weight: bold;
    font-size: 16px;
}
.daysInfoDIV {
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
}
.daysInfoDIV>.daysInfo {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40px min-content 1fr min-content 30px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.daysInfoDIV>.daysInfo:hover{
    background-color: rgb(187, 187, 187);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.212);
    cursor: pointer;
}
.daysInfo>.date {
    text-align: center;
}
.daysInfo>.highLow{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.daysInfo>.highLow>div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.daysInfo>.highLow>div>img{
    height: 15px;
}
.conditionDIV {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    text-align: center;
    text-wrap: wrap ;
    padding: 5px;
}
.conditionDIV>img{
    height: 50px;
}
.rainChanceDIV {
    text-align: center;
}
.rainChanceDIV>img{
    height: 30px;
}
.moreInfoButton {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: rgb(66, 66, 66);
}
.daysInfoDIV>.daysInfo:hover .moreInfoButton{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px black;
    cursor: pointer;
}
.daysInfo.selected{
    background-color: rgb(187, 187, 187);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.212);
}
.daysInfo.selected .moreInfoButton{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px black;
}

@media(width>=500px){
    .search input{
        height: 50%;
        font-size: 18px;
    }
    .searchPlace{
        border: none;
        background-color: transparent;
    }
    .search svg {
        width: 70%;
    }

    .degrees .degreeIcon{
        width: 80%;
        justify-self: right;
    }
    .dropdownOptionButton{
        font-size: 18px;
    }

    .currentInfoHeader{
        font-size: 18px;
    }
    .currentInfoData{
        grid-template-columns: 60% 40%;
        grid-template-areas: 
        "currentTemp currentTempFeels"
        "currentImportantInfo currentImportantInfo";
    }
    .currentTempFeels{
        gap: 10px;
    }
    .currentTempFeelsData{
        font-size: 70px;
    }
    .currentImportantInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .currentIcon{
        width: 40px;
        height: 35px;
        margin: auto;
    }
    .currentData {
        font-size: 20px;
    }

    .todayInfo>.cityTodaysInfo>p{
        font-size: 16px;
    }
    .feelsMoonSunToday .label {
        font-size: 15px;
    }
    .feelsMoonSunToday .data {
        font-size: 17px;
    }
    .feelsLikeToday>p.label {
        font-size: 17px;
    }
    .feelsLikeToday>p.feelsTempToday {
        font-size: 60px;
    }
    .moonToday>img {
        width: 100px;
    }
    .sunLine {
        height: 60px;
    }
    .sunIcon {
        width: 60px;
        height: 60px;
    }
    .highLowToday .label {
        font-size: 18px;
    }
    .highLowToday .data {
        font-size: 30px;
    }
    .dayDataToday {
        display:  grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        gap: 15px;
    }
    .dayDataToday .label {
        font-size: 16px;
    }
    .dayDataToday .data {
        font-size: 16px;
    }
    .dayDataToday .data>span {
        font-size: 17px;
    }
    .descriptionToday {
        font-size: 16px;
    }

    .nextDaysTitle {
        font-size: 18px;
    }
    .daysInfoDIV>.daysInfo {
        grid-template-columns: 50px 1fr 2fr 1fr 40px;
        gap: 20px;
    }
    .daysInfo>.date {
        font-size: 17px;
    }
    .daysInfo>.highLow>div>img{
        height: 18px;
    }
    .conditionDIV {
        font-size: 16px;
    }
    .conditionDIV>img{
        height: 70px;
    }
    .rainChanceDIV>img{
        height: 35px;
    }
    .rainChance {
        font-size: 16px;
    }
    .moreInfoButton {
        font-size: 25px;
    }
}

@media(width>=800px){
    header{
        padding: 0 5px;
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        height: 100px;
    }
    .search input{
        width: 80%;
        height: 50%;
        font-size: 18px;
        justify-self: right;
    }
    .search svg {
        width: 30%;
        margin-left: -60px;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "currentInfoSection currentInfoSection"
        "todayInfoSection nextDaysInfoSection";
        gap: 10px;
        max-width: 100%;
    }
    .currentInfoHeader{
        font-size: 20px;
    }
    .currentInfoData{
        grid-template-columns: 60% 20% 20%;
        grid-template-areas: 
        "currentTemp currentTempFeels currentImportantInfo";
    }
    .currentTempData{
        font-size: 90px;
    }
    .currentConditionData{
        font-size: 30px;
    }
    .currentTempFeels{
        gap: 0px;
    }
    .currentTempFeelsData{
        font-size: 70px;
    }
    .currentTempFeels{
        display: grid;
        grid-template-rows: auto 1fr;
    }
    .currentTempFeelsLabel{
        font-size: 20px;
    }
    .currentTempFeelsData{
        font-size: 70px;
        margin: auto;
    }
    .currentImportantInfo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .currentIcon{
        width: 40px;
        height: 45px;
        margin: auto;
    }
    .currentData {
        font-size: 20px;
    }

    .todayInfo {
        height: fit-content;
    }
    .todayInfo>.cityTodaysInfo>p{
        font-size: 18px;
    }
    .feelsMoonSunToday .label {
        font-size: 18px;
    }
    .feelsMoonSunToday .data {
        font-size: 20px;
    }
    .feelsLikeToday>p.label {
        font-size: 18px;
    }
    .feelsLikeToday>p.feelsTempToday {
        font-size: 70px;
    }
    .moonToday>img {
        width: 120px;
    }
    .sunLine {
        height: 70px;
    }
    .sunIcon {
        width: 70px;
        height: 70px;
    }
    .highLowToday .label {
        font-size: 18px;
    }
    .highLowToday .data {
        font-size: 50px;
    }
    .dayDataToday {
        display:  grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        gap: 15px;
    }
    .dayDataToday .label {
        font-size: 18px;
    }
    .dayDataToday .data {
        font-size: 17px;
    }
    .dayDataToday .data>span {
        font-size: 18px;
    }
    .descriptionToday {
        font-size: 18px;
    }

    .nextDaysTitle {
        font-size: 20px;
    }
    .daysInfo>.highLow>div>img{
        height: 17px;
    }
    .conditionDIV {
        font-size: 17px;
    }
    .conditionDIV>img{
        height: 72px;
    }
    .rainChanceDIV>img{
        height: 37px;
    }
    .rainChance {
        font-size: 17px;
    }
    .moreInfoButton {
        font-size: 27px;
    }
}

@media(width>=1000px){
    header{
        grid-template-columns: 120px 1fr 120px;
        height: 110px;
    }
    .search input{
        height: 40%;
        font-size: 19px;
    }

    main{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "currentInfoSection currentInfoSection"
        "todayInfoSection nextDaysInfoSection";
        gap: 10px;
    }
    .currentInfoHeader{
        font-size: 21px;
    }
    .currentTempData{
        font-size: 100px;
    }
    .currentConditionData{
        font-size: 35px;
    }
    .currentTempFeelsData{
        font-size: 70px;
    }
    .currentTempFeelsData>span{
        font-size: 80px;
    }
    .currentTempFeelsLabel{
        font-size: 25px;
    }
    .currentIcon{
        width: 50px;
        height: 50px;
    }
    .currentData {
        font-size: 30px;
    }

    .todayInfo>.cityTodaysInfo>p{
        font-size: 21px;
    }
    .feelsMoonSunToday .label {
        font-size: 19px;
    }
    .feelsMoonSunToday .data {
        font-size: 21px;
    }
    .feelsLikeToday>p.label {
        font-size: 19px;
    }
    .feelsLikeToday>p.feelsTempToday {
        font-size: 80px;
    }
    .moonToday>img {
        width: 130px;
    }
    .sunLine {
        height: 80px;
    }
    .sunIcon {
        width: 80px;
        height: 80px;
    }
    .highLowToday .label {
        font-size: 20px;
    }
    .highLowToday .data {
        font-size: 60px;
    }
    .dayDataToday .label {
        font-size: 19px;
    }
    .dayDataToday .data {
        font-size: 18px;
    }
    .dayDataToday .data>span {
        font-size: 19px;
    }
    .descriptionToday {
        font-size: 19px;
    }

    .nextDaysTitle {
        font-size: 21px;
    }
    .daysInfo>.highLow>div>img{
        height: 20px;
    }
    .conditionDIV {
        font-size: 18px;
    }
    .conditionDIV>img{
        height: 75px;
    }
    .rainChanceDIV>img{
        height: 45px;
    }
    .rainChance {
        font-size: 19px;
    }
    .moreInfoButton {
        font-size: 30px;
    }
}

